# input
run_dir: "ngs/231121_M02245_0129_000000000-DMNH2"
out_dir: "results"
sample_sheet: "ngs/231121_M02245_0129_000000000-DMNH2/231121_extended_sample_sheet.xlsx"
sequencer: "miseq" # or nextseq

# demux
demux:
    barcode_mismatches: 1

# genome index
star_index: "resources/index"

# mirna refs
hairpin_fa: "resources/mirgenedb/mirgenedb_hairpin_pre.fa"
mirna_gtf: "resources/mirgenedb/hsa.gff3"

# tool params
cutadapt:
    trim_5p: 0

star:
    features: "GeneFull"

mirtrace:
  species: "hsa"

mirtop:
  n_cells: 1000
  n_reads: 100

# other params
threads: 4
memory: 36G